@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";


@plugin "daisyui";

:root {
    --primary-font: "Orbitron", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}

.primary-font {
  font-family: var(--primary-font);
}

.secondary-font {
  font-family: var(--secondary-font);
}